[submodule "LangSmith_Course"]
	path = LangSmith_Course
	url = git@github.com:jonhpark7966/LangSmith_Course.git
[submodule "DLBasic_Course"]
	path = DLBasic_Course
	url = ./DLBasic_Course
[submodule "LangGraph_Course"]
	path = LangGraph_Course
	url = ./LangGraph_Course
[submodule "vLLM_Course"]
	path = vLLM_Course
	url = ./vLLM_Course
[submodule "MLBasic_Course"]
	path = MLBasic_Course
	url = ./MLBasic_Course
[submodule "FineTuning_Course"]
	path = FineTuning_Course
	url = https://github.com/jonhpark7966/FineTuning_Course.git
